*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #222222;
}

.profile-container{
    display: flex;
    padding: 56px;
    background-color: rgb(237, 237, 237);
    justify-content: space-between;
    min-height: 100vh;
}
/* The design for the back-to-home button */
.back-home a{
    text-decoration: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #222222;
    position: absolute;
    top: 24px;
    left: 56px;

}

.back-home a i{
    font-size: 24px;
    color: gray;
    
}

main{
    min-height: 60vh;
    width: 68%;
}

.purple-seg{
    height: 20vh;
    background-color: rgb(90, 15, 160);
    position: relative;
}

.profile-img{
    background-image: url(https://res.cloudinary.com/du2rjnoya/image/upload/v1701288343/OTS-cohort-13/blackman1_hoamck.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    bottom: -70px;
    left: 40px;
}

.orange-seg{
    background-color: rgb(238, 97, 46);
    width: 40%;
    height: 80px;
    border-radius: 24px 24px 0 0;
    position: absolute;
    bottom: 0;
    left: 35%;
}

.yellow-seg{
    background-color: rgb(251, 189, 19);
    width: 40%;
    height: 80%;
    border-radius: 24px 24px 0 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
}

.details-seg{
    background-color: white;
    padding: 48px;
}

.option-menu{
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-end;
}

.option-menu i{
    font-size: 24px;
    color: grey;
}

.profile-name{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 56px;
}
.profile-name h4{
    font-size: 18px;
    color: rgb(90, 15, 160);
}

.profile-info{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 32px;
}

.profile-info-grid{
    display: flex;
    gap: 16px;
    align-items: center;
}

.profile-info-grid i{
    font-size: 24px;
    background-color: rgb(238, 97, 46);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
    color: white;
}

.txt{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.txt h4{
    color: grey;
    font-size: 18px;
}

/* This is the design for the aside section (ie the right side) */
aside{
    min-height: 80vh;
    width: 28%;
}

.schedule, .basic{
    background-color: white;
    padding: 32px 36px;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    margin-bottom: 36px;
}

.schedule p{
    color: grey;
    margin-top: 16px;
    font-size: 18px;
}

.basic{
    border-left: 10px solid rgb(90, 15, 160);
}

.basic:last-child{
    border-left: 10px solid rgb(238, 97, 46);
}

.basic-content-img{
    background-image: url(https://res.cloudinary.com/du2rjnoya/image/upload/v1701288342/OTS-cohort-13/blackman3_bhn1a5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

 .img1{
    background-image: url(https://res.cloudinary.com/du2rjnoya/image/upload/v1701300683/OTS-cohort-13/blackwoman1_miobaw.jpg);
}

.basic-content-slide{
    display: flex;
    gap: 24px;
    align-items: center;
}

.basic-content-slide i{
    color:  rgb(238, 97, 46);
    font-size: 24px;
}

.basic-content-slide .fa-clock{
    color:  rgb(250, 188, 18);
    font-size: 24px;
}

.basic-content{
    display: flex;
    gap: 40px;
    margin-top: 24px;
    align-items: center;
    justify-content: space-between;
}

.basic-content-slide-wrapper{
    display: flex;
    flex-direction:column;
    gap: 16px;
}

.basic p{
    color: grey;
    font-size: 18px;
}

.basic-heading p{
    margin-top: 10px;
}


/* THESE ARE FOR THE MEDIA QUERY DESIGNS */

/* This is for mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px){
    
    body{
        padding-bottom: 48px;
    }

    .back-home a{
        z-index: 1;
        left: 32px;
        color: white;
    }

    .back-home a i{
        color: white;
    }

    .profile-container{
        flex-direction: column;
        padding: 0;
        gap: 32px;
        background-color: white;
    }

    main{
        width: 100%;
    }

    .purple-seg{
        height: 24vh;
        background-color: rgb(90, 15, 160);
        position: relative;
    }

    .profile-img{
        left: 30%;
        z-index: 3;
    }

    .orange-seg{
        width: 60%;
        height: 25%;
        z-index: 2;
        left: 20%;
    }

    .yellow-seg{
        width: 80%;
        height: 50%;
        z-index: 1;
        left: 10%;
    }

    .details-seg{
        padding: 20px;
    }

    .profile-name{
        gap: 8px;
        text-align: center;
    }

    .profile-info{
        grid-template-columns:  1fr;
        gap: 24px;
        margin-left: 12px;
    }

    .profile-info-grid{
        gap: 24px;
    }

    .profile-info-grid i{
        font-size: 18px;
        height: 48px;
        width: 48px;
        text-align: center;
        line-height: 48px;
    }

    aside{
        width: 86%;
        margin: auto;
    }

    .schedule, .basic{
        padding: 32px 24px;
        text-align: center;
    }

    .basic-content{
        flex-direction: column-reverse;
    }
}

/* This is for ipads and Tablet */
@media screen and (min-width: 481px) and (max-width: 768px){
   
    body{
        padding-bottom: 48px;
    }

    .back-home a{
        z-index: 1;
        left: 32px;
        color: white;
    }
    
    .back-home a i{
        color: white;
    }

    .profile-container{
        flex-direction: column;
        padding: 0;
        gap: 32px;
        background-color: white;
    }

    main{
        width: 100%;
    }

    .purple-seg{
        height: 24vh;
        background-color: rgb(90, 15, 160);
        position: relative;
    }

    .profile-img{
        left: 38%;
        z-index: 3;
    }

    .orange-seg{
        width: 60%;
        height: 25%;
        z-index: 2;
        left: 20%;
    }

    .yellow-seg{
        width: 80%;
        height: 50%;
        z-index: 1;
        left: 10%;
    }

    .details-seg{
        padding: 20px;
    }

    .option-menu{
        margin-right: 16px;
    }

    .profile-name{
        gap: 8px;
        text-align: center;
    }

    .profile-info{
        grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
        gap: 36px;
        margin: 0 32px;
    }

    .profile-info-grid{
        gap: 24px;
    }

    .profile-info-grid i{
        font-size: 18px;
        height: 48px;
        width: 48px;
        text-align: center;
        line-height: 48px;
    }

    aside{
        width: 86%;
        margin: auto;
    }

    .schedule, .basic{
        padding: 32px 24px;
        text-align: center;
    }

    .basic-content{
        gap: 72px;
        justify-content: center;
    }
}

/* This is for small screen laptops */
@media screen and (min-width: 769px) and (max-width: 1024px){
    
    .profile-container{
        padding: 56px 32px;
    }

    /* The design for the back-to-home button */
    .back-home a{
        left: 32px;
    }
    
    main{
        width: 58%;
    }
    
    .profile-img{
        left: 32%;
        z-index: 3;
    }

    .orange-seg{
        width: 60%;
        height: 60px;
        z-index: 2;
        left: 20%;
    }
    
    .yellow-seg{
        width: 80%;
        height: 60%;
        z-index: 1;
        left: 10%;
    }
    
    .details-seg{
        padding: 32px;
    }
    
    .profile-name{
        text-align: center;
    }
    
    .profile-info{
        grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
        gap: 36px;
    }

    .profile-info-grid i{
        font-size: 18px;
        height: 48px;
        width: 48px;
        text-align: center;
        line-height: 48px;
    }
    
    aside{
        width: 38%;
    }
    
    .basic{
        text-align: center;
    }
    
    .basic-content{
        flex-direction: column-reverse;
        justify-content: space-between;
    }
}

/* This is for desktop and large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px){


    main{
        width: 65%;
    }

    .orange-seg{
        width: 45%;
        height: 60px;
        left: 38%;
    }
    
    .yellow-seg{
        width: 45%;
        height: 60%;
        left: 48%;
    }

    aside{
        width: 30%;
    }    
    
    .basic{
        text-align: center;
    }

    .basic-content{
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    
}

/* This is for extra large screens and TV */
@media screen and (min-width: 1201px)and (max-width: 1439px){

    main{
        width: 62%;
    }

    .orange-seg{
        width: 45%;
        height: 60px;
        left: 38%;
    }
    
    .yellow-seg{
        width: 45%;
        height: 60%;
        left: 48%;
    }

    aside{
        width: 34%;
    }   
    
    .basic-content{
        justify-content: space-between;
    }
}