@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');
*{

margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
}

/* here is my logo style */

img{
width: 90px;
border-radius: 70%;
margin: 20px auto;
/* margin-left: 14px; */
}

.val h1{
    font-size: 22px;
    text-align: center;
    width: fit-content;
    position: relative;
    left: -300%;
    transition: all 0.5s;
}

.menu-bar{

position: sticky;
top: 0;
right: 0;
bottom: 0;
background-color: #0c012f;
height: 100vh;
width: 80px;
padding: 0 12px;
transition: all 0.5s;
}

.menu-bar:hover{
    width: fit-content;
}

.menu-bar:hover .val h1{
    left: 0%;
}

body{
display: flex;
}

ul li{
padding: 15px;
font-size: 15px;
margin-top: 5px;
}

li a{

color: white;

}

li a{
display: flex;
gap: 12px;

}

ul li i{
    background-color: gray;
    border-radius:10px;
    padding: 3px 10px;
}

.signout i{
    background-color: red;
    border-radius:10px;
   
}

ul li:hover{
background-color:blue;
border-radius: 12px;
}

ul .val{
    color: white;
    position: relative;
    left: 200%;
    transition: all .5s;
} 

.menu-bar:hover .val{
    left: 0%;
}

/* menubar container ends here */

.content-main{
background: url(/dashboard/CSS/image/stock-vector-abstract-white-and-light-gray-wave-modern-soft-luxury-texture-with-smooth-and-clean-vector-subtle-1902297547.jpg);
width: 100%;
position: relative;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 150vh;



}



/* header style starts here, this includes profile,search bar and img respectively */


.img-profile img{
 width: 60px;
 margin-bottom: 20px;

}

.header-main{
display: flex;
justify-content: space-between;
background-color: rgb(250, 246, 246);
padding: 5px 20px;
align-items: center;
width: 92%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
border-radius: 10px;
box-shadow: 2px 5px 6px 3px lightgray ;

}
.header-tittle{

   columns: #0c012f;
   font-size: 15px;
}


.header-tittle span{

color: #0c012f;
font-size: 15px;
letter-spacing: 5px;
display: block;
padding-bottom: 6px;

}


/* profile and search starts here */

 .profile-info{
 display: flex;
 align-items: center;
 gap: 100px;


 }


 .search-box input{
 padding: 8px;
 outline: none;
 border: 1px solid gray;
 border-radius: 10px;

 }

 .search-box button{

 padding: 8px;
 position: absolute;
 left: 148px;
 background-color: #0c012f;
 color: aliceblue;
 border-radius: 5px 7px 7px 0;
 border: 1px solid gray;


 }

 .search-box button:hover{
transform: scale(1.1);
padding: 8px;

 }


 .search-box{
position: relative;

 }

 /* my card design starts here */


 .card-container{

 background-color: #fff;
 margin-top: 10px;
 width: 92%;
 margin-left: auto;
 margin-right: auto;
 padding: 5px 20px;
 border-radius: 10px;
 height: 200px;
 box-shadow: 5px 10px 10px 5px lightgray ;



 }


 .card-container h1{
  
   font-size: 20px;
   color: #0c012f;

 }

 .card-flex{

 display: flex;
 gap: 20px;
 margin-top: 10px;

 }

 .card-student{

 background: rgba(99, 119, 104, 0.469);
 padding: 10px;
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 width: 23%;
 height: 120px;
 border-radius: 10px;
 transition:  all 0.5s ease-in-out;
 /* box-shadow: 3px 3px 3px 3px #443f3f3f; */
 cursor: pointer;


 }

 .card-student:hover{

 transform: translate(-5px);


 }

 .card-header{
 display: flex;
 justify-content: space-around;
 gap: 70px;


 }

 .passcode-info{
   display: flex;
 flex-direction: column;
 color: #fff;


 }
 

 /* here  contains the icon design */


 .icon{
 font-size: 20px;
 background-color: white;
 padding: 10px;
 color: white;
 border-radius: 50%;

 }

 .red{
 background-color: red;


 }
 .white{

 background-color: yellowgreen;

 }

 .gray{

 background-color:azure;

 }

 .fa-shop-lock{

  color: grey;
 }



 .dorgerblue{
   background-image:linear-gradient(to right, red, #0c012f);
   box-shadow: 2px 2px 2px 2px rgb(33, 49, 65);
   background-color: transparent;

 }

 .iceblue{
background-image: linear-gradient(to right,yellowgreen,khaki);
box-shadow: 2px 2px 2px 2px ;

 }

 .dove{
 
   background-image: linear-gradient( to right, rgb(219, 156, 219), #0c012f);
   box-shadow: 2px 2px 2px 2px ;

 }

 .color{
 background-image: linear-gradient( to right,  rgb(101, 122, 80), rgb(131, 211, 52));
 box-shadow: 2px 2px 2px 2px rgb(176, 145, 59);

 }
 
 .fa-chalkboard-user{
 color: rgb(101, 122, 80);
 font-size: 20px;

 }


 .fa-people-line{

 font-size: 20px;
 color:white;

 }

 .fa-graduation-cap{
  font-size: 20px;
  color: #fff;


 }

 /* assignment container desgin starts here */

 .assignmemt-container{
  background-color: #fff;
  margin-top: 10px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px #405640;
  
 }
 .assignmemt-container h1{
 
 font-size: 20px;
 padding-bottom: 1rem;

 }


 .top-img img{
    width: 50px;
 }

 .assignment-flex{

 display: flex;
 gap: 20px;
 padding: 10px;
 

 }

 .assignment-subject{

 flex: 2;
 display: flex;
 justify-content: space-around;
 box-shadow: 5px 3px 10px 0 rgb(141, 123, 123);
 height: 70px;
 border-radius: 10px;
 align-items: center;
 border-left: 3px solid #0c012f;
 padding-top: 10px;

 

 }

  .courses h3{
  font-size: 15px;
  color: #0c012f;
  font-weight: bold;
  
  }

  .topic{

 font-size: 12px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-style: italic;
  }

  .btn{
  background: #405640;
  padding: 7px 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;


  }




 .top-performer{
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 3px 10px 0 rgb(141, 123, 123);
    border-radius: 10px;
    border-right: 3px solid #0c012f;
    padding: 4px;
    font-size: 15px;
    align-items: center;
    gap: 5px;
 }
 
 .val{

 color: red;


 }
  h3.vic{

 color: red;

 }