*{

padding: 0;
margin: 0;

}

.Container{
background-color: aliceblue;
height: 100vh;

}

.header{

background-color: #fff;
padding: 2px;


}
.search{

background-color: #fff;
padding: 10px;
border: 1px solid rgb(239, 236, 236);
width: 20%;
margin: 20px;
border-radius: 10px;

}
.search span{

    padding: 20px;
}

.newest{
border: #fff;
padding: 12px;
border: 1px solid rgb(239, 236, 236);
width: 10%;
border-radius: 10px;
position: absolute;
right: 0;
top: 0;
margin-right: 19%;
margin-top: 20px;

}

.fa-caret-down{

    padding-left: 10px;
}
.student{

    border: #fff;
    padding: 12px;
    border: 1px solid rgb(239, 236, 236);
    width: 10%;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5%;
    margin-top: 20px;


}

.newest:hover, .student:hover{

background-color: rebeccapurple;
color: #fff;

}b

.lighgray{

background-color: rgb(222, 228, 211);
padding: 20px;

}

 .roll tr{

background-color: blueviolet;

}

tr th{
    padding: 30px;
    color: blueviolet;
}

tr td{

    padding: 10px 10px 10px 30px;
}

 .border img{


    border-radius: 25%;
 }

 .contact{

    color: blueviolet;
    font-size: 15px;
 }

 .back-icon{

    position: absolute;
    left: 0;
    top: 0;
    margin-top: 6px;
    margin-left: 5px;
 }