body{
    padding: 24px 24px;
}
th{ 
    padding: 10px 30px;
    
}



.fa-solid{
    padding-left: 15px;
}

td{
    padding: 21px 35px;
    
}
.green{
    background-color: rgb(52, 233, 52);
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
}

.money{
    font-weight: bold;
}

.yellow{
    background-color: orange;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    
}

.red{
    background-color: red;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    
}

table{
    border-collapse: collapse;
}

table tr td{
    border-bottom: 1px solid rgb(240, 233, 233);
}

/* THIS IS WHERE I STYLED MY TOP */

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.top1{
    background-color: rgb(240, 237, 237);
    padding: 8px 10px;
    border-radius: 3px;
}

.show{
    padding: 12px 16px;
    display: flex;
    gap: 12px;
    align-items: center;
}

#search{
    padding: 12px 16px;
    width: 240px;
    border-radius: 4px;
}

label{
    font-size: 18px;
}

.show span{
    font-size: 18px;
}

/* THIS IS MY CODE FOR THE TOP ARROW BACK */
.back a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 0px;
    border-radius: 5px; 
    display: flex;
    gap: 16px;  
}

a fa-solid{
    color: white;
}

.back{
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    width: 100px;  
}

a:hover{
    background-color: red;
    transition: 0.7s;
}