* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 550px;
    height: 570px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(40, 40, 180);
}

.wrapper h1 {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(40, 40, 180);
}

.main-container {
    width: 100%;
    
}

.container {
    width: 75%;
    margin: auto;
    padding: 10px;

}

.sign {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0;
    color: rgb(40, 40, 180);
    transition: all .5s;
}

.sign label {
    font-size: 12px;
    font-family:sans-serif;
    letter-spacing: 2px;
    text-indent: 10px;
   

}

.sign label sup {
    color: red;
    letter-spacing: normal;
}

.sign input {
    padding: 10px 10px 0 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid  rgb(40, 40, 180);
    font-weight: 600;
    font-family:cursive;
    font-size: 16px;
    color: rgb(40, 40, 180);
    cursor: pointer;
    
}

.sign:hover input {
    border-bottom: 1.6px solid  rgb(40, 40, 180);
}

.gender-age {
 display: grid;
 gap: 60px;
 grid-template-columns: 1fr 1fr;
 overflow: hidden;
}

.gender-age .gender {
    width: 100%;
    padding: 5px 0;
    color: rgb(40, 40, 180);
    transition: all .5s;
    overflow: hidden;
}

.gender-age .age {
    width: 100%;
    padding: 5px 0;
    color: rgb(40, 40, 180);
    transition: all .5s;
    overflow: hidden;
}

.gender label, .age label {
    font-size: 12px;
    font-family:sans-serif;
    letter-spacing: 2px;
    margin-left: 10px;
}
 
.gender input, .age input {
    padding: 10px 10px 0 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid  rgb(40, 40, 180);
    font-weight: 600;
    font-family:cursive;
    font-size: 16px;
    color: rgb(40, 40, 180);
    cursor: pointer;
    transition: .5s;

}

.gender input:hover, .age input:hover {
    border-bottom: 1.6px solid  rgb(40, 40, 180);
}

/* design for buuton */

button {
    margin: 20px auto 10px auto;
    width: 60%;
    display: block;
    padding: 8px;
    font-family:cursive;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color: rgb(56, 56, 200);
    cursor: pointer;
}


/* here is the span design */
.main-container span {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(56, 56, 200);
}

.main-container span::before {
    content: "";
    padding: .3px;
    width: 100px;
    flex: 1;
    background-color: rgb(56, 56, 200);
    margin: 0 10px 0 70px;

}

.main-container span::after {
    content: "";
    padding: .3px;
    width: 100px;
    flex: 1;
    background-color: rgb(56, 56, 200);
    margin: 0 70px 0 10px;
    

}
/* here is design for icons */
.wrapper .icons {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 18px auto;
    
}

.icons .fa-brands {
    font-size: 50px;
    background-color: rgb(56, 56, 200);
    border-radius: 50%;
    color: #fff;
    box-shadow: 5px 4px 8px 2px lightgray;
    cursor: pointer;
    transition: .5s;
}

.icons .fa-brands:hover {
    transform: translateY(-2px);
}

.icons .fa-google {
    background-color: #fff;
    color: rgb(56, 56, 200);
}

.icons .fa-facebook {
    background-color: #fff;
    color: rgb(56, 56, 200);  
}

.icons .fa-apple {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 45px;
}

/* here is design for alternative link */

.wrapper p {
    text-align: center;
    font-size: 14px;
    color: rgb(56, 56, 200);
}

.wrapper a {
    font-weight: 600;
    cursor: pointer;
}

.wrapper a:hover {
    text-decoration: underline;
}

/* @media  screen and (max-width: 500px) {
    width: 550px;
} */