table, td,th{
    border-collapse: collapse;
    border-color: blueviolet;
}

table{
    border-spacing: 100%;
    width: 100%;
    font-size:20px;
}

td{
    border-spacing: 20px;
    
}


td,th{
    padding: 20px;

}

th{
    background-color:dodgerblue;
    font-size: 25px;
    color: white;
}

tr:hover{
    background-color:skyblue;

} 

tr:nth-child(even){

    background-color:lightgray;
}

.container{
    width: 100%;
    text-align: center;
}

.color{
    background-color: green;
}
a{
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     
  }

  

